*{
    margin: 0;
    padding: 0;
}

a{
    color: white;
}

body{
    background-color: #e6e6e6;
    font-family: MS Sans Serif;
}

header{
    width: 100%;
    height: 150px;
    background-color: #2a2a2a;
}

.header-title{
    width:900px;
    height: 85px;
    display: flex;
    margin: auto;
    color: white;
    font-size: 30px;
}

nav{
    width: 100%;
    background-color: #b91616;
}

.nav-buttons-background{

    width: 900px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #b91616;
    margin: auto;
}
.nav-button {
    margin: 0;
    background-color:#b91616;
    border-bottom:5px solid #971414;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size: 26px;
    text-align: center;
    line-height: 60px;
    height: 60px;
    width: 180px;
}
.nav-button:hover {
    background-color:#c83131;
    border-bottom:5px solid #ffb4b4;
}
.nav-button:active {
    position:relative;
    top:1px;
}

.nav-button-active {
    margin: 0;
    background-color:#c83131;
    border-bottom:5px solid #ffb4b4;
    display:inline-block;
    color:#ffffff;
    font-size: 26px;
    text-align: center;
    line-height: 60px;
    height: 60px;
    width: 180px;
}


.main-content{
    padding-top: 50px;
    background-color: #fdfdfd;
    width: 900px;
    overflow: hidden;
    margin: auto;
}

.short-news{
    background-color: white;
    width: 760px;
    height: 460px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    box-shadow: 0 0 4px 0 #969696;
}

.long-news{
    background-color: white;
    width: 760px;
    /*height: 960px;*/
    height: fit-content;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    box-shadow: 0 0 4px 0  #969696;
}

.news-title{
    font-size:27px;
    height: 30px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.news-image{
    height: 280px;
    margin-bottom: 20px;
}

.read-more{
    color: #686868;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
}

.short-news-text{
    height: 90px;
    font-size: 17px;
    text-align: justify;
}
.long-news-text{
    max-height: 590px;
    font-size: 17px;
    text-align: justify;
}

.offer-news{
    background-color: white;
    width: 760px;
    height: fit-content;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    box-shadow: 0 0 4px 0 #969696;
}

.offer-news > input{
    width: 100%;
    height: 30px;
    background-color: #fcfcfc;
    border: 1px solid #e4e4e4;
    margin-bottom: 20px;
    font-size: 18px;
    padding-left: 5px;
}
.offer-news > textarea{
    width: 100%;
    height: 100px;
    background-color: #fcfcfc;
    border: 1px solid #e4e4e4;
    margin-bottom: 20px;
    font-size: 18px;
    padding-left: 5px;
    resize: none;
}
/*------------SCROLLBAR----------------------*/
/* width */
.offer-news > textarea::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.offer-news > textarea::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* Handle */
.offer-news > textarea::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
.offer-news > textarea::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/*--------------------------------------------*/

.offer-news-button{
    width: 200px;
    height: 30px;
    background-color: #b91616;
    font-size: 18px;
    color: white;
    border: none;
    outline: none;
}
.offer-news-button:hover {
    background-color:#c83131;
    cursor: pointer;
}
.offer-news-button:active {
    position:relative;
    top:1px;
}


footer{
    width: 100%;
    height: 200px;
    background-color: #2a2a2a;
}

.footer-info{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    width: 900px;
    height:200px;
    margin: auto;
}

.footer-part{
    padding: 20px;
    color: white;
    width: 410px;
    height:160px;
    margin: auto;
}

