/*the container must be positioned relative:*/
.custom-select {
    position: relative;
    font-family: MS Sans Serif;
}
.custom-select select {
    display: none; /*hide original SELECT element:*/
}
.select-selected {
    background-color: transparent;
}
/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 22px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 11px;
}
/*style the items (options), including the selected item:*/
.select-selected {
    padding: 8px 16px;
    border: 1px solid transparent;
    /*border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;*/
    cursor: pointer;
    user-select: none;
    margin-right: 10px;
}

.select-items div {
    padding: 8px 16px;
    border: 1px solid transparent;
    /*border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;*/
    cursor: pointer;
    user-select: none;
}
/*style items (options):*/
.select-items {
    position: absolute;
    background-color: white;
    color: black;
    font-size: 14px;
    right: 0;
   /* top: 100%;
    left: 0;
    right: 0;
    z-index: 99;*/
    width: fit-content;
    max-height: 300px;
    overflow-y: auto;
}

/*------------SCROLLBAR----------------------*/
/* width */
.select-items::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.select-items::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* Handle */
.select-items::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
.select-items::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/*--------------------------------------------*/

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}
.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}